
{% extends "app1/index.html" %}

{% block content %}
<div class="form-container">
<h1 class='auth'>LOGIN</h1>
<form action="" method='POST'>
    {% csrf_token %}
    {% for row in form %}
        <p>{{row.label_tag}}</p>
        <p class='form-control' aria-label="Username" aria-describedby="addon-wrapping" style={{'width: 100%;'}}>{{row}}</p> 
        <p>{{row.errors|striptags}}</p>
    {% endfor %}
    <button type='submit' class="btn btn-primary">Submit</button>
</form>
<span>Register your account? <a href="{% url 'register' %}" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Create an account</a></span>
</div>
{% endblock  %}