{% extends "app1/index.html" %}

{% block content %}
<div class="blog-form-container">
<h1>Update Blog</h1>
<form action="" method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {% for row in form %}
        <p>{{row.label_tag}}</p>
        <p class='form-control' aria-label="Username" aria-describedby="addon-wrapping">{{row}}</p> 
        <p>{{row.errors|striptags}}</p>
    {% endfor %}

    <button type='submit' class="btn btn-primary">Submit</button>

</form>
</div>

{% endblock  %}